/* i might have stolen this from tombricks */
@font-face {
    font-family: Geologica;
    src: url("assets/Fonts/Geologica/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf");
}
@font-face {
    font-family: Ubuntu;
    src: url("assets/Fonts/Ubuntu/Ubuntu-Regular.ttf");
}


* {
    box-sizing: border-box;
}
.split {
    width: 50%;
    vertical-align: top;
    padding: 20px;
}
.across {
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding: 0px;
    font-family: 'Geologica', sans-serif;
    text-align: center;
    background-color: rgb(48, 48, 48);
}

.links {
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    padding-left: 45%;
}

.moveButtons {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 350px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
}

.hide {
    display: none;
}
  
.hoverable:hover + .hideable {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #3b3b3b;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: rgb(20, 20, 20);
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #ec0c0c;
    color: rgb(20, 20, 20);
}

li a:hover:not(.active) {
    background-color: #ee3737;
    color: rgb(20, 20, 20);
}

a {
    color: rgb(252, 67, 67);
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
button {
    background-color: rgb(55, 55, 55);
    border: 0px;
    padding: 5px;
    font-family: 'Geologica', sans-serif;
    color: white;
}
button:hover {
    background-color: rgb(70, 55, 55);
}

.preview {
    max-width: 100%;
}
.icon {
    display: inline;
}
.project {
    width: 50%;
    vertical-align: top;
}